@font-face {
    font-family: 'merriweather';
    src: url('../../fonts/merriweather-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'lato';
    src: url('../../fonts/lato-regular.ttf') format('truetype');
}

:root {
    --white: #FFFFFF;
    --tan: #F4F1EA;
    --brown: #382110;
    --black: #181818;
    --green: #409D69;
    --dark-green: #3B9160;
    --turquoise: #00635D;
    --light-gray: #F2F2F2;
    --med-gray: #999999;
    --yellow: #FDD44F;
    -orange: #FFBD27;
}

* {
    box-sizing: border-box;
}

html, body{
    background-color: var(--white);
    color: var(--brown);
    margin: 0;
    height: 100%;
    text-wrap: pretty;
}

h1 {
    font-family: 'merriweather';
    font-size: 48px;
    color: var(--brown);
    text-align: center;
    margin: 50px 0 25px;
}

h3 {
    font-family: 'merriweather';
    font-size: 24px;
    color: var(--brown);
    margin: 50px 0;
}

.title a {
    text-align: center;
    text-decoration-color: var(--brown);
}

/*descriptions*/
.descriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.descriptions > div {
    width: 500px;
    margin: 25px;
    padding: 50px;
    background-color: var(--tan);
    outline: var(--brown) solid 2px;
    border-radius: 20px;
    box-shadow: 0px 6px 6px rgb(0, 0, 0, 0.3);
}

h2 {
    font-family: 'merriweather';
    font-size: 32px;
    color: var(--brown);
    text-decoration: underline;
    text-align: center;
    margin: 0;
}

.descriptions h3 {
    margin: 40px 0 20px;
}

p, ul{
    font-family: 'lato';
    font-size: 16px;
    line-height: 160%;
    color: var(--brown);
    margin-bottom: 0;
}

p {
    text-decoration: underline ;
}

ul {
    margin: 5px 0 0;
    padding-left: 25px;
}

.wtr-loops-and-modes p, .stars-loops-and-modes p, .ni-loops-and-modes p, .modal p, .more-loops-and-modes p, .less-loops-and-modes p{
    text-decoration: none;
}

.video {
    height: fit-content;
}

video {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 20px auto 0;
    border-radius: 15px;
}

.space p{
    text-decoration: none;
    margin: 0;
}

/*build*/
.build {
    width: 142px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
}

.book-cover img {
    display: block;
    width: 141.6px;
    height: 200px;
    margin: 0 auto;
}

.wtr-button {
    display: flex;
    justify-content: center;
}

.wtr-button button{
    font-family: 'lato';
    font-size: 16px;
    color: var(--white);
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    margin: 0 auto;
    cursor: pointer;
}

/* star container */
.star-rating {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

/* default star style */
.star {
    width: 30px;
    height: 30px;
    background: url('star.svg') no-repeat center/contain;
    fill: var(--med-gray);
    transition: fill 0.3s ease, opacity 0.3s ease;
    opacity: 0.5;
}

/* hover state */
.star:hover,
.star.hovered {
    opacity: 1;
    background: url('star.svg') no-repeat center/contain;
    filter: brightness(0) saturate(100%) invert(72%) sepia(48%) saturate(676%) hue-rotate(1deg) brightness(101%);
}

/* clicked (selected) state */
.star.selected, .star :active{
    opacity: 1;
    background: url('star.svg') no-repeat center/contain;
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(600%) hue-rotate(1deg) brightness(120%);
}

/*not interested button*/
.ni-button {
    margin: 0 auto;
}

.ni-button button{
    font-family: 'lato';
    font-size: 16px;
    color: var(--turquoise);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0 auto;
    cursor: pointer;
}